html
  head
    title= title
  body
    h1= message
    h4 Bridge Address: #{bridgeAddress}
    h4 Bridge Sale Address: #{bridgeSaleAddress}
    pre
      Step 1:

      Switch to the devETH network

      Send your devETH to the 0xd000000000000000000000000000000000000b1e address. This smokes it like a doobie aka BURNS IT.

      Note: be careful to not smoke any cheapETH.

      Step 2:

      Switch to the cheapETH network



